
<section class="vh-100" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Add Phone Number</h3>
            <%= form_with model: @mobile, url: users_mobile_phone_path, local: true, data: { turbo: false } do |form| %>
            <div class="form-outline mb-4">
               <%= form.text_field :number, placeholder: "number", class: "form-control form-control-lg" %>
            </div>

            <div class="form-outline mb-4">
              <div class="form-group mb-6">
                <div class="mb-3 xl:w-96">
                  <%= render partial: 'country' %>
                </div>
              </div>
            </div>

            <%= form.submit translate("Add"), class: "btn btn-primary btn-lg btn-block"  %>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

