<% if user_signed_in? %>
  <div class="form-outline mb-4">
    <%= form_with model: post.comments, url: post_comments_path(post), local: true do |form| %>
			  <p>
			    <%= form.hidden_field :author, value: current_user.username %>
			  </p>
			  <p>
			    <%= form.text_area :body, class: "form-control", placeholder: translate("new_comment") %>
			  </p>
			  <p>
			    <%= form.submit translate("create"), class: "btn btn-primary" %>
			  </p>
		<% end %>
  </div>
<% end %>