<div>
  <div class="navbar-item" id="<%='redflag' if I18n.locale == :ge %>">
    <%= link_to(locale: :ge) do %>
      <img  width=30 class="c-icon ms-3 mt-2"  alt="geoflag" src="https://cdn.countryflags.com/thumbs/georgia/flag-400.png">  
    <% end  %>
  </div>
  </div>
    <div class="navbar-item" id="<%='redflag' if I18n.locale == :en %>" >
      <%= link_to(locale: :en) do %>
        <img  width=30 height=21 class="c-icon ms-3 mt-2" alt="enflag" src="https://cdn.countryflags.com/thumbs/united-kingdom/flag-400.png">  
      <% end  %>
    </div>
</div>