<br><div>
<%= search_form_for @q do |f| %>
  <div >
    <%= f.search_field :title_or_body_cont, placeholder: translate("search_post"), class:"form-control"  %>  
  </div><br>
    <div align="center">
      <%= f.submit translate("search"), class: "btn btn-primary" %> 
    </div>
    
<% end %>
</div>
<br>