<%= render post %>

<br/>
<% if user_signed_in? %>
  <% if policy(post) %>
    <div class="d-flex justify-content-center">
      <%= post.approve_post %>
      <span>&nbsp</span>
      <%= post.edit_post %>
      <span>&nbsp</span>
      <%= post.delete_post %>
    </div>
  <% end %>
<% end %>

<br>
<br>
<br>


