<%= render @post %>
<br/>
<% if user_signed_in? %>
<div class="d-flex justify-content-center">
  <%= link_to "Back to posts", posts_path, class: "btn btn-success btn-block btn-lg gradient-custom-4 text-body" %>
  <span>&nbsp</span>
  <%= link_to "Edit this post", edit_post_path(@post), class: "btn btn-success btn-block btn-lg gradient-custom-4 text-body" %>
  <span>&nbsp</span>
  <%= button_to "Delete post", @post, method: :delete, class: "btn btn-success btn-block btn-lg gradient-custom-4 text-body"%>
</div>
<% end %>
