<div class="card-body" align="center">
	<h2>Great! Your payment of $5 was successful!</h2>
	<h3>Now you are member  </h3>
	<%= link_to "back profile", profile_path(@user), class: "nav-link" %>
</div>
